@tailwind base;
@tailwind components;
@tailwind utilities;

.stack>*:nth-child(2) {
  transform: translateY(0) scale(1);
  z-index: 2;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .hide {
    display: none;
  }
}

.unhide {
  display: inherit;
}

/* Hide Google Translate branding and fix layout */
.goog-logo-link,
.goog-te-gadget span,
.skiptranslate.goog-te-gadget {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
  background-color: transparent;
}

.skiptranslate.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}

body {
  top: 0px !important;
}
